.errorToast {
  grid-row: 1;
  grid-column: 3;
  justify-self: center;
  display: flex;
  width: 100%;
  max-width: 16rem;
  align-items: center;
  padding: 0.75rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  border: 1px solid #f85149;
  color: #b22b2b;
  background: linear-gradient(#f851491a, #f851491a);
}

.messageWrapper {
  display: flex;
  align-items: center;
  margin-right: auto;
  gap: 0.5rem;
}

.iconMain {
  width: 1.75rem;
  aspect-ratio: 1 / 1;
}
