:root {
  --bg-menu: #ffffff;
  --bg-button-add: #111827;
  --text-button-add: whitesmoke;

  --radius-xl: 2.5rem;
  --spacing-md: 1.25rem;
  --spacing-lg: 1.875rem;
}

.mainMenu {
  grid-row: 2;
  grid-column: 3;
  width: fit-content;
  padding: var(--spacing-md);
  justify-self: center;
  background-color: var(--bg-menu);
  border-radius: var(--radius-xl);
}

.heading {
  padding: var(--spacing-lg);
  align-items: center;
}

.todoInputs {
  gap: var(--spacing-md);
}

.inputWrapper {
  display: flex;
  gap: var(--spacing-md);
  justify-content: space-around;
}

.addTodo {
  border: none;
  background-color: var(--bg-button-add);
  color: var(--text-button-add);
}
