:root {
  --bg-card: #ffffff;
  --bg-item: #f5f5f0;
  --text-item: #262626;
  --border-color: #e5e7eb;

  --radius-xl: 0.9375rem;
  --spacing-md: 0.625rem;
  --spacing-lg: 0.9375rem;
}

.todoList {
  gap: var(--spacing-md);
  grid-column: 3;
  grid-row: 4;
  list-style: none;
  height: 50vh;
  border: 0.0625rem solid var(--border-color);
  background-color: var(--bg-card);
  border-radius: var(--radius-xl);
}

.todoItem {
  background-color: var(--bg-item);
  color: var(--text-item);
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-md);
  border-radius: var(--radius-xl);
}

.todoItem > * {
  display: flex;
  gap: var(--spacing-lg);
  align-items: center;
}
