* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  height: 100vh;
  background-color: #f3f2ee;
  color: #1f2937;
}

input,
textarea {
  background-color: #f9fafb;
  color: #111827;
  border: solid 1px #e5e7eb;
  padding: 3px;
}

button {
  cursor: pointer;
}

button:active {
  transform: translateY(2px);
  box-shadow: 0 1px 0px #111827;
}

.flex-row,
.flex-column {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.hidden {
  display: none;
}

main {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(3, auto);
  row-gap: 10px;
}

.danger-button {
  background-color: #fee2e2;
  color: #ef4444;
  height: auto;
  padding: 5px;
  border-radius: 10px;
}
