* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  height: 100vh;
}

main {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(3, auto);
  row-gap: 10px;
}

#main-menu {
  grid-column: 3;
  width: fit-content;
  padding: 20px;
  justify-self: center;
  color: #fff;
  background-image: linear-gradient(to bottom, #020917, #101725);
}

#option-bar {
  grid-column: 3;
  grid-row: 2;
  padding: 15px;
  background-color: yellowgreen;
  justify-content: space-between;
}

.flex-row,
.flex-column {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

#heading {
  padding: 30px;
  align-items: center;
}

#todo-inputs {
  gap: 20px;
}

#date-title-wrapper {
  display: flex;
  gap: 20px;
  justify-content: space-around;
}

#todo-list {
  gap: 10px;
  grid-column: 3;
  grid-row: 3;
  list-style: none;
  height: 50vh;
  background-color: grey;
}

.todo-item {
  background-color: gold;
  border: solid;
  justify-content: space-between;
  padding: 10px;
}

.todo-item > span {
  display: flex;
  gap: 15px;
}

.danger-button {
  background-color: red;
  height: auto;
  padding: 5px;
}
