:root {
  --bg-main: #f3f2ee;
  --bg-input: #f9fafb;
  --bg-danger: #fee2e2;

  --text-main: #1f2937;
  --text-input: #111827;
  --text-danger: #ef4444;

  --border-color: #e5e7eb;
  --shadow-color: #111827;

  --spacing-xs: 0.1875rem;
  --spacing-sm: 0.3125rem;
  --gap-md: 0.625rem;
  --radius-md: 0.625rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  height: 100vh;
  background-color: var(--bg-main);
  color: var(--text-main);
}
main {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(4, auto);
  row-gap: var(--gap-md);
}

input,
textarea {
  background-color: var(--bg-input);
  color: var(--text-input);
  border: solid 1px var(--border-color);
  padding: var(--spacing-xs);
}

button {
  cursor: pointer;
}

button:active {
  transform: translateY(2px);
  box-shadow: 0 1px 0px var(--shadow-color);
}

.flex-row,
.flex-column {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.hidden {
  display: none;
}

.danger-button {
  background-color: var(--bg-danger);
  color: var(--text-danger);
  height: auto;
  padding: var(--spacing-sm);
  border-radius: var(--radius-md);
}
