.todoList {
  gap: 10px;
  grid-column: 3;
  grid-row: 3;
  list-style: none;
  height: 50vh;
  border: solid 1px;
  background-color: #ffffff;
  border-radius: 15px;
}

.todoItem {
  background-color: #f5f5f0;
  color: #262626;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 15px;
}

.todoItem > * {
  display: flex;
  gap: 15px;
  align-items: center;
}
